<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>GESTION DE MUDANZAS</title>

  <script type="text/javascript">
    alert('entra');
    $(document).ready(function () {
      alert('entra');
      // Escuchamos el evento 'change' del input donde cargamos el archivo
      $(document).on('change', 'input[type=file]', function (e) {
        // Obtenemos la ruta temporal mediante el evento
        var TmpPath = URL.createObjectURL(e.target.files[0]);
        // Mostramos la ruta temporal
        var file = document.getElementById("fileUpload");
        var txt = document.getElementById("contenido");
        txt.value = file.files[0].name;

      });
    });
  </script>

  <!--<script>
    window.addEventListener('load', inicio, false);

    function inicio() {
      document.getElementById('archivo').addEventListener('change', cargar, false);
    }

    function cargar(ev) {
      document.getElementById('datos').innerHTML = 'Nombre del archivo:' + ev.target.files[0].name + '<br>' +
        'Tamaño del archivo:' + ev.target.files[0].size + '<br>' +
        'Tipo MIME:' + ev.target.files[0].type;
      var arch = new FileReader();
      arch.addEventListener('load', leer, false);
      arch.readAsText(ev.target.files[0]);
    }

    function leer(ev) {
      document.getElementById('editor').value = ev.target.result;
    }
  </script>-->
</head>

<body>

  <!--<input type="file" id="archivo"><br>
  <textarea rows="10" cols="80" id="editor"></textarea>
  <br>
  <p id="datos"></p>-->

  <div class="row">
    <div class="col-sm-3">
      <app-listamenu [modules]="modules"></app-listamenu>
    </div>
    <div class="col-sm-9">
      <div class="media position-relative">
        <div class="media-body text-center">
          <h5> GESTION DE MUDANZAS </h5>
        </div>
      </div>
      <hr />
      <div>
        <fieldset>
          <legend>Proceso de Mudanza</legend>
          <table>
            <thead>
              <tr>
                <th style="width:20%" class="text-center">Cédula</th>
                <th style="width:40%" class="text-center">Archivo</th>
                <th style="width:25%" class="text-center">Observaciones</th>
                <th style="width:15%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="vertical-align:middle">
                  <input type="text" class="form-control" placeholder="Cédula" [(ngModel)]="cedula">
                </td>
                <td style="vertical-align:middle">
                  <input type="file" id="fileUpload" />
                </td>
                <td style="vertical-align:middle">
                  <textarea class="form-control" placeholder="Observaciones" [(ngModel)]="observaciones"></textarea>
                </td>
                <td style="vertical-align:middle" class="text-center">
                  <button class="btn-primary" (click)="ejecutar()">
                    <span class="fas fa-save"></span>    Ejecutar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </fieldset>
        <fieldset>
          <legend>Archivo de Entrada</legend>
          <textarea id="contenido" class="form-control" [(ngModel)]="contenido"></textarea>
        </fieldset>

        <fieldset>
          <legend>Archivo de Salida</legend>
          <textarea id="contenido" class="form-control" [(ngModel)]="contenido"></textarea>
        </fieldset>
      </div>
      <hr />
      <div>
        <div class="media-body text-left">
          <fieldset>
            <legend>Traza de ejecuciones</legend>
            <p *ngIf="!executions"><em>Loading...</em></p>
            <p id="mensajes"></p>

            <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="executions">
              <thead>
                <tr>
                  <th>Usuario</th>
                  <th>Cédula</th>
                  <th>Fecha</th>
                  <th>Observaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let execute of executions">
                  <td style="vertical-align:middle">{{ execute.login }}</td>
                  <td style="vertical-align:middle">{{ execute.ejecutorId }}</td>
                  <td style="vertical-align:middle">{{ execute.dateStr }}</td>
                  <td style="vertical-align:middle">{{ execute.observations }}</td>
                </tr>
              </tbody>
            </table>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      // Escuchamos el evento 'change' del input donde cargamos el archivo
      $(document).on('change', 'input[type=file]', function (e) {
        // Obtenemos la ruta temporal mediante el evento
        var TmpPath = URL.createObjectURL(e.target.files[0]);
        // Mostramos la ruta temporal
        var file = document.getElementById("fileUpload");
        var txt = document.getElementById("contenido");
        txt.value = file.files[0].name;

      });
    });

        //function abrirArchivo(evento) {
        //  let archivo = evento.target.files[0];

        //  if (archivo) {
        //    let reader = new FileReader();

        //    reader.onload = function (e) {
        //      let contenido = e.target.result;

        //      document.getElementById('contenido').innerText = contenido;
        //    };

        //    reader.readAsText(archivo);

        //  } else {
        //    document.getElementById('mensajes').innerText = 'No hay archivo seleccionado';
        //  }
        //}
        //window.addEventListener('load', () => {
        //  document.getElementById('fileUpload').addEventListener('change', abrirArchivo);
        //});
  </script>-->


</body>
</html>
