<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>GESTION DE MUDANZAS</title>

</head>

<body>
  
  <div class="row">
    <div class="col-sm-3">
      <app-listamenu [modules]="modules"></app-listamenu>
    </div>
    <div class="col-sm-9">
      <div class="media position-relative">
        <div class="media-body text-center">
          <h5> GESTION DE MUDANZAS </h5>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-sm-6">
          <button class="{{ claseProceso }}" style="width:100%" (click)="cambioEstilo(true)">Proceso de Mudanza</button>
        </div>
        <div class="col-sm-6">
          <button class="{{ claseTraza }}" style="width:100%" (click)="cambioEstilo(false)">Traza de ejecuciones</button>
        </div>
      </div>
      <br />
      <div *ngIf="optionVariable; else elseBlock">
        <fieldset>
          <legend>Proceso de Mudanza</legend>
          <table>
            <thead>
              <tr>
                <th style="width:20%" class="text-center">Cédula</th>
                <th style="width:40%" class="text-center">Archivo</th>
                <th style="width:25%" class="text-center">Observaciones</th>
                <th style="width:15%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="vertical-align:middle" class="text-center">
                  <input type="text" class="form-control" placeholder="Cédula" [(ngModel)]="cedula">
                </td>
                <td style="vertical-align:middle" class="text-center">
                  <input type="file" id="fileUpload" />
                </td>
                <td style="vertical-align:middle" class="text-center">
                  <textarea class="form-control" placeholder="Observaciones" [(ngModel)]="observaciones"></textarea>
                </td>
                <td style="vertical-align:middle" class="text-center">
                  <button class="btn-primary" (click)="ejecutar()">
                    <span class="fas fa-save"></span>    Ejecutar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>
        <br />
        <div class="row">
          <div class="col-sm-6">
            <fieldset>
              <legend>Archivo de Entrada</legend>
              <textarea id="contenidoInput" class="form-control" rows="15" readonly></textarea>
            </fieldset>
          </div>
          <div class="col-sm-6">
            <fieldset>
              <legend>Archivo de Salida</legend>
              <textarea id="contenidoOutput" class="form-control" [(ngModel)]="output" rows="13" readonly></textarea>
              <br />
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button class="btn-primary" onclick="saveTextAsFile()">
                <span class="fas fa-save"></span>    Guardar
              </button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button class="btn-primary" (click)="limpiaFormulario()">
                <span class="fas fa-save"></span>    Limpia formulario
              </button>
            </fieldset>
          </div>
        </div>
      </div>
      <hr />
      <ng-template #elseBlock>
        <div class="media-body text-left">
          <fieldset>
            <legend>Traza de ejecuciones</legend>
            <p *ngIf="!executions"><em>Loading...</em></p>
            <p id="mensajes"></p>

            <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="executions">
              <thead>
                <tr>
                  <th>Usuario</th>
                  <th>Cédula</th>
                  <th>Fecha</th>
                  <th>Observaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let execute of executions">
                  <td style="vertical-align:middle">{{ execute.login }}</td>
                  <td style="vertical-align:middle">{{ execute.ejecutorId }}</td>
                  <td style="vertical-align:middle">{{ execute.dateStr }}</td>
                  <td style="vertical-align:middle">{{ execute.observations }}</td>
                </tr>
              </tbody>
            </table>
          </fieldset>
        </div>
      </ng-template>
    </div>
  </div>
</body>
</html>
