<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <div class="media position-relative">
    <div class="media-body  text-center">
      <h5 class="mt-0">MODULOS</h5>
    </div>
  </div>
  <hr />
  <div *ngIf="modules">
    <div *ngFor="let element of modules">
      <div class="media-body" (click)="navigation([element.url])">
        <a><span class="{{ element.image }}"></span> {{ element.module }}</a>
      </div>
    </div>
  </div>
  <hr />
  <div *ngIf="logedUsr; else elseBlock">
    <div class="media-body" (click)="salir()">
      <a><span class="fas fa-sign-out-alt"></span> Log out</a>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="media-body" (click)="login()">
      <a><span class="fas fa-sign-in-alt"></span> Log in</a>
    </div>
  </ng-template>

</body>
</html>
