<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> LOG IN </title>
</head>
<body>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-5">
          <label class="control-label">
            <span class="fas fa-user"></span>
            Usuario:
          </label>
        </div>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Usuario" [(ngModel)]="user" />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-5">
          <label class="control-label">
            <span class="fas fa-key"></span>
            Contraseña:
          </label>
        </div>
        <div class="col-sm-9">
          <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="password" />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-6 text-right">
          <button (click)="login()" class="btn-primary"><span class="fas fa-sign-in-alt"></span> LOG IN</button>
        </div>
        <div *ngIf="logedUsr" class="col-sm-6 text-left">
          <button (click)="logout()" class="btn-primary"><span class="fas fa-sign-out-alt"></span> LOG OUT</button>
        </div>        
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <br />
  
</body>
</html>
