<h1>Prueba Tecnica PHANOR MESIAS</h1>
<p>Aplicación web de .NET core 3.1. Construida con:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> y <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> en el Back</li>
  <li><a href='https://angular.io/'>Angular</a> y <a href='http://www.typescriptlang.org/'>TypeScript</a> en el front</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> para diseño y estilos</li>
</ul>
<p>La prueba en total cosnta de 2 partes:</p>
<ul>
  <li><strong>Codigo fuente</strong>. que se encuentra en: <a href='https://github.com/phadi/Mudandaz_PhanorMesias.git'>GitHub</a> </li>
  <li><strong>Video </strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
